<!-- Footer
================================================== -->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col col-lg-2 col-offset-2">
        <h4>Pages</h4>
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
        </ul>
      </div>
      <div class="col col-lg-2">
        <h4>Un lien</h4>
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
        </ul>
      </div>
      <div class="col col-lg-2">
        <h4>Un lien</h4>
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
        </ul>
      </div>
      <div class="col col-lg-2">
        <h4>Un lien</h4>
        <ul class="list-unstyled">
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
          <li><a href="{{ site.url }}/">Un lien</a></li>
        </ul>
      </div>
    </div>
    <p>Made with love by <a href="http://link-webcreations.fr">Yves</a>.</p>
    <p>&lt;3</p>
  </div>
</div>