<div class="container bs-docs-container">
  <div class="row">
    <div class="col col-lg-3">
      <div class="bs-sidebar">
        <ul class="nav bs-sidenav">
          {% for post in site.posts %}
          <li>
            <a href="{{ site.url }}{{ post.url }}">{{ post.title }}</a>
          </li>
          {% endfor %}
        </ul>
      </div>
    </div>
    <div class="col col-lg-9">
      <!-- post
      ================================================== -->
      <section>
          
        {{ content }}
          
      </section>
    </div>
  </div>
</div>
