/*  ===== Custom styles =====================================================
    Author:
    Yves ANDOLFATTO
  =========================================================================== */


/*
 * Body and structure
 */
 
html,
body {
  height: 100%;
}
#wrap {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}
#wrap > .container {
  padding-top: 50px;
}
body {
  font-family: Ubuntu;
}


/*
 * Customize the footer
 */

.footer {
  padding: 30px 20px;
  color: #999;
  background-color: #282a2b;
}
.footer a {
  color: #fff;
}
.footer p {
  color: #7a7a7a;
  text-align: center;
}


/*
 * Customize the default button styles
 */

.btn {
  text-transform: uppercase;
}
.btn,
.btn:hover,
.btn:active {
  background-color: #a03d3c;
  border-color: #a03d3c;
}
.btn {
  background-image: -webkit-linear-gradient(#b94a48, #a03d3c);
  background-repeat: repeat-x;
}
.btn:hover {
  background-position: 0 -15px;
}


/*
 * Add our own button modifier class
 */

.btn-outline,
.btn-outline:hover,
.btn-outline:active {
  color: #fff;
  background-color: transparent;
  background-image: none;
  border: 1px solid rgba(255,255,255,.4);
}
.btn-outline:hover,
.btn-outline:active {
  background-color: rgba(255,255,255,.4);
}


/*
 * Customize the navbar even more by affixing it
 */

.navbar {
  background-color: #fff;
  background-clip: padding-box;
  border-bottom: 1px solid rgba(0,0,0,.1);
}
.navbar.affix {
  top: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 10px rgba(0,0,0,.25);
}
.navbar .btn {
  float: right;
  margin-top: 8px;
}
.navbar-brand {
  color: #b94a48;
}
.navbar-brand:hover {
  color: #a03d3c;
}

/*
 * Side navigation
 *
 * Scrollspy and affixed enhanced navigation to highlight sections and secondary
 * sections of docs content.
 */

/* By default it's not affixed in mobile views, so undo that */
.sidebar.affix {
  position: static;
}

/* First level of nav */
.sidenav {
  margin-top: 30px;
  margin-bottom: 30px;
  padding-top:    10px;
  padding-bottom: 10px;
  text-shadow: 0 1px 0 #fff;
  background-color: #f7f5fa;
  border-radius: 5px;
}

/* All levels of nav */
.sidebar .nav > li > a {
  display: block;
  color: #716b7a;
  padding: 5px 20px;
}
.sidebar .nav > li > a:hover,
.sidebar .nav > li > a:focus {
  text-decoration: none;
  background-color: #e5e3e9;
  border-right: 1px solid #dbd8e0;
}
.sidebar .nav > .active > a,
.sidebar .nav > .active:hover > a,
.sidebar .nav > .active:focus > a {
  font-weight: bold;
  color: #563d7c;
  background-color: transparent;
  border-right: 1px solid #563d7c;
}

/* Nav: second level (shown on .active) */
.sidebar .nav .nav {
  display: none; /* Hide by default, but at >768px, show it */
  margin-bottom: 8px;
}
.sidebar .nav .nav > li > a {
  padding-top:    3px;
  padding-bottom: 3px;
  padding-left: 30px;
  font-size: 90%;
}

/* Show and affix the side nav when space allows it */
@media screen and (min-width: 992px) {
  .bs-sidebar .nav > .active > ul {
    display: block;
  }
  /* Widen the fixed sidebar */
  .sidebar.affix,
  .sidebar.affix-bottom {
    width: 213px;
  }
  .sidebar.affix {
    position: fixed; /* Undo the static from mobile first approach */
    top: 80px;
  }
  .sidebar.affix-bottom {
    position: absolute; /* Undo the static from mobile first approach */
  }
  .sidebar.affix-bottom .bsidenav,
  .sidebar.affix .sidenav {
    margin-top: 0;
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  /* Widen the fixed sidebar again */
  .sidebar.affix-bottom,
  .sidebar.affix {
    width: 263px;
  }
}


/*
 * Instead of customizing the jumbotron, we customize the carousel
 */

.carousel-inner > .item {
  height: 300px;
}
.carousel-inner > .item > img {
  position: absolute;
  top: 0;
  width: 100%;
  min-height: 300px;
}
.carousel-caption {
  max-width: 600px;
  margin: 0 auto;
  bottom: 20%;
}
.carousel-caption p {
  display: none; /* Hide the caption for now, but show it when we have the space */
}
.carousel-caption a {
  color: #fff;
  font-weight: 500;
}
.carousel-caption .btn {
  margin-top: 10px;
  padding: 15px 25px;
  font-size: 14px;
}
.carousel-caption .btn-outline {
  display: none; /* Hide to start, but show it when we have the space */
}


/*
 * Create a brand new component
 */

.featurette {
  padding: 20px;
  text-align: center;
}
.featurette .container {
  max-width: 800px;
}
.featurette:nth-child(even) {
  background-color: #e8eaec;
}
.featurette .step-num {
  width: 98px;
  height: 98px;
  margin: 0 auto;
  line-height: 95px;
  text-align: center;
  border: 1px solid rgba(0,0,0,.1);
  border-radius: 50px;
}


/*
 * Responsively scale things up
 */

 
@media (min-width: 768px) {

  /* Scale up images in carousel */
  .carousel-inner > .item {
    height: 600px;
  }
  .carousel-inner > .item > img {
    min-height: 600px;
  }

  /* Scale font-sizes and show more content when doable */
  .carousel-caption h1 {
    font-size: 60px;
    line-height: 1;
  }
  .carousel-caption p {
    display: block;
  }
  .carousel-caption .btn-outline {
    display: inline-block;
  }

  /* Increase whitespace around featurette for impact */
  .featurette {
    padding-top:    100px;
    padding-bottom: 100px;
  }
