<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<head>
  {% include header.html %}
</head>
<body>
<div id="wrap">
{% include nav-main.html %}
<div class="container">

{{ content }}

</div><!-- /container -->
</div><!-- /wrap -->
{% include footer.html %}
{% include js.html %}
{% include google_analytics.html %}
{% include disqus.html %}
</body>
</html>
