---
layout: default
---

<div class="row">
  <div class="col-lg-3">
    <div class="sidebar">
      <ul class="nav">
        {% if page.slug == "articles" %}
          {% include nav-articles.html %}
        {% elsif page.slug == "preparatifs" %}
          {% include nav-preparatifs.html %}
        {% elsif page.slug == "galerie" %}
          {% include nav-galerie.html %}
        {% endif %}
      </ul>
    </div>
  </div>
  <div class="col-lg-9">
    {{ content }}
  </div>
</div><!-- /row (sidebar)-->
